@charset "UTF-8";
@import url(normalize.css);
/*@import 'susyone';*/
/* ---- Typography ---- */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* ---- Grid ---- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* @group ----- Colors ----- */
/* @end */
@media screen {
  .search-facets > ul {
    max-width: 250px;
  }

  /* @group ----Search page------ */
  .search-results-count {
    width: 80%;
  }
  .search-results-count .pagination {
    margin-left: auto;
    margin-top: 1em;
  }

  .search-results h3 {
    clear: both;
  }

  /* @end group Search page */
  /* @group ----- Generic HTML elements ----- */
  html, body {
    margin: 0;
    padding: 0;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #375e5d;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
  }

  a {
    text-decoration: none;
  }
  a:link {
    color: #CC4D28;
  }
  a:visited {
    color: #db6c36;
  }
  a:active, a:hover {
    color: #ED3F0D;
  }

  h1, h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
  }

  h3, h4, h5, h6 {
    font-weight: 700;
  }

  input {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  input, button, select {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  q:lang(fr) {
    quotes: "« " " »";
  }

  q:lang(en) {
    quotes: "“" "”";
  }

  table, tr, td, th {
    border: 1px solid;
  }

  /* @end group Generic HTML elements */
  /* @group ----- Global classes ----- */
  .screen-reader-text {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  a.button {
    background-color: #3d3d3d;
    color: #fff;
    padding: 0.75em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  div[role=main] {
    padding: 0 2.85714% 1.5em;
    width: 100%;
    overflow: hidden;
    *zoom: 1;
    background-color: #fff;
    float: left;
    -moz-box-shadow: #e7e7e7 0 10px 20px 0px;
    -webkit-box-shadow: #e7e7e7 0 10px 20px 0px;
    box-shadow: #e7e7e7 0 10px 20px 0px;
  }
  div[role=main] > h2:first-of-type {
    background-color: #2b89d9;
    color: #fff;
    padding: 0.375em 2.85714%;
    margin: 1.5em 0;
    font-size: 24px;
    line-height: 36px;
  }

  /* @end group Global classes */
  /* @group ----- Header ----- */
  header {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
  }

  #site-title {
    float: left;
    text-transform: uppercase;
    padding: 0 2.85714%;
    margin: 0;
    font-size: 1.125em;
    line-height: 1.33333em;
  }
  #site-title a {
    padding: 0.5625em 0;
    display: block;
  }
  #site-title img {
    height: 2.25em;
    width: auto;
    vertical-align: bottom;
  }

  #search-form {
    padding: 0.75em 2%;
    border-color: #e7e7e7;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: 0.6875em;
    float: left;
    width: 100%;
    background-color: #fff;
  }
  #search-form input[type=text], #search-form button[type=submit] {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 2.25em;
    margin: 0;
    float: left;
    padding: 0.375em 1.40845%;
    font-size: 16px;
  }
  #search-form input[type=text] {
    width: 65%;
    border: 1px solid #e7e7e7;
  }
  #search-form button[type=submit] {
    width: 35%;
    background-color: #21c900;
    color: #fff;
    border: 0;
  }
  #search-form .advanced-search {
    font-size: 12.8px;
    float: left;
    width: 100%;
    margin: 0.45em 0 0;
    text-align: center;
    line-height: 1em;
  }

  /* @end Header */
  /* @group ----- Header/Navigation ----- */
  nav ul {
    list-style-type: none;
    padding-left: 0;
  }

  .hamburger {
    background: none;
    position: absolute;
    left: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 1000;
  }

  .cross {
    background: none;
    position: absolute;
    left: 0;
    padding: 7px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 1000;
  }

  #navigation {
    clear: both;
    background-color: #fff;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
    border-color: #e7e7e7;
    text-align: left;
    margin: 0;
    min-height: 1.5em;
  }
  #navigation h2 {
    font-size: 1em;
    line-height: 1.5em;
  }
  #navigation ul {
    padding: 0;
    width: 100%;
    margin: 0;
    display: none;
  }
  #navigation li {
    width: 100%;
    display: block;
    border-color: #e7e7e7;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.3125em;
    margin: 0;
    position: relative;
    float: left;
    padding: 0;
    background-size: cover;
    border-right-width: 0.0625em;
    border-right-style: solid;
    padding-right: -0.0625em;
    border-bottom: 0;
    /* home */
    -moz-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
    -webkit-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #navigation li:after {
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: -0.0625em;
    border-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #navigation li:nth-of-type(2n) {
    border-right: 0;
  }
  #navigation li:nth-of-type(3) {
    border-left: 0;
  }
  #navigation li:nth-of-type(3), #navigation li:nth-of-type(4) {
    border-bottom-width: 0em;
    border-bottom-style: solid;
    padding-bottom: 0em;
  }
  #navigation li h2 {
    margin: 0;
  }
  #navigation li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    z-index: 4;
    text-shadow: 0 0 20px #333;
    text-align: center;
  }
  #navigation li:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
  }
  #navigation li:hover {
    -moz-box-shadow: 0 0 100px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 0 100px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.8) inset;
  }
  #navigation li:nth-of-type(5) {
    background: url("../img/livres.jpg") no-repeat center;
  }
  #navigation li:nth-of-type(5):after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjEwMjIwOCIgeTE9IjAuNzgwODE0IiB4Mj0iMS4xMDIyMDgiIHkyPSIwLjIxOTE4NiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMDJhY2MiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(25deg, rgba(0, 0, 0, 0.8), rgba(208, 42, 204, 0.4));
    background-image: -webkit-linear-gradient(25deg, rgba(0, 0, 0, 0.8), rgba(208, 42, 204, 0.4));
    background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.8), rgba(208, 42, 204, 0.4));
  }
  #navigation li:nth-of-type(4) {
    background: url("../img/lettre.jpg") no-repeat center;
  }
  #navigation li:nth-of-type(4):after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjU4NDk0IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC4zNDE1MDYiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWM0MTQiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
    background-image: -webkit-linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
    background-image: linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(217, 196, 20, 0.4));
  }
  #navigation li:nth-of-type(3) {
    background: url("../img/livres.jpg") no-repeat top;
  }
  #navigation li:nth-of-type(3):after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMDkxNTA2IiB5MT0iMC4zNDE1MDYiIHgyPSItMC4wOTE1MDYiIHkyPSIwLjY1ODQ5NCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjg5ZDkiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
    background-image: -webkit-linear-gradient(195deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
    background-image: linear-gradient(255deg, rgba(0, 0, 0, 0.8), rgba(43, 137, 217, 0.4));
  }
  #navigation li:nth-of-type(2) {
    background: url("../img/archives.jpg") no-repeat center center;
  }
  #navigation li:nth-of-type(2):after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iMS4wOTE1MDYiIHgyPSIwLjY1ODQ5NCIgeTI9Ii0wLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjMzMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(75deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
    background-image: -webkit-linear-gradient(75deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
    background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.8), rgba(255, 51, 0, 0.4));
  }
  #navigation li:first-of-type {
    background: url("../img/jeunes.jpg") no-repeat center center;
  }
  #navigation li:first-of-type:after {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMWM5MDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
    background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(33, 201, 0, 0.4));
  }

  /* @end group Header/Navigation */
  /* @group ----- Footer ----- */
  footer {
    padding: 1.5em 2.85714% 6em;
    clear: both;
    font-size: 12px;
  }
  footer img {
    height: 4.5em;
    width: auto;
    margin: 1.5em 2.85714% 0 0;
  }
  footer a {
    opacity: .5;
  }
  footer a:hover {
    opacity: 1;
  }

  /* @end group Footer */
  /* @group ----- Items – Properties ----- */
  /* Mise en forme des propriétés des items, où qu’ils soient. */
  .property, .filter {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
  }
  .property > *, .filter > * {
    display: inline;
  }
  .property .value, .filter .value {
    display: inline;
  }
  .property .value img, .filter .value img {
    height: 16px;
    vertical-align: sub;
  }

  .language {
    font-weight: bold;
    font-size: 0.6em;
  }

  .field-name, .filter-label {
    display: block;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5em;
    float: left;
  }
  .field-name:after, .filter-label:after {
    content: " :";
  }

  /* @end Items – Properties */
  /* @group ----- Browse ----- */
  /* Common for item/browse and item-set/browse */
  #no-results {
    padding: 0 2.85714%;
  }

  .resource-list {
    padding: 0;
  }
  .resource-list .resource {
    overflow: auto;
    padding-bottom: 1.43em;
  }
  .resource-list .resource img {
    float: left;
    margin-right: 4.34783%;
  }
  .resource-list h4 {
    float: none;
    margin: 0;
  }
  .resource-list .value {
    overflow: auto;
  }

  #content .advanced-search {
    text-align: center;
    line-height: 1.05em;
  }

  .pagination {
    background-color: #fff;
    overflow: hidden;
    *zoom: 1;
    padding: 0.75em 2.85714%;
    margin: 2em auto 0;
    height: 4.5em;
    max-width: 24em;
    border: 1px solid black;
    border-radius: 8px;
  }
  .pagination .next, .pagination .previous {
    float: left;
    margin-right: 2.43902%;
    padding: 0 0.75em;
    border-radius: 30px;
    width: 32px;
    line-height: 32px;
    background-color: #999;
  }
  .pagination .next:last-child, .pagination .previous:last-child {
    float: right;
    margin-right: 0;
  }
  .pagination .next.inactive, .pagination .previous.inactive {
    background-color: #F0F0F0;
    color: #FFF;
  }
  .pagination:nth-of-type(2) {
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
    border-color: #e7e7e7;
    margin-bottom: 1.5em;
  }
  .pagination form input[type=text] {
    width: 3em;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
  }
  .pagination .current-pagination {
    width: 70.73171%;
    float: left;
    margin-right: 2.43902%;
    text-align: center;
  }

  /* @end group Browse */
  /* @group ----- Browse/ItemSets ----- */
  .metadata {
    overflow: hidden;
    *zoom: 1;
  }

  /* @end group Browse/ItemSets */
  /* @group ----- Items/Show ----- */
  /* @see Items – Properties */
  .subhead {
    font-variant-caps: small-caps;
    font-size: 0.8em;
  }
  .subhead::after {
    content: " : ";
  }

  #item-linked .value {
    overflow: auto;
  }
  #item-linked table {
    margin: 1em;
  }
  #item-linked table, #item-linked table tr, #item-linked table td, #item-linked table th {
    border: 1px solid black;
    padding: 0.1em 0.2em;
  }

  .media-element {
    padding: 0.6em 1.40845% 0.6em 2.25em;
    margin: 0 1.40845% 1.5em 1.40845%;
    border: 1px solid black;
    background: URL("../../../../application/asset/thumbnails/default.png") no-repeat 0.3em center;
    background-size: 1.5em;
  }

  .uv {
    margin-bottom: 1.5em;
  }

  .masked {
    margin-left: -9999px !important;
    position: absolute;
  }

  .value a img {
    display: none;
  }

  /* @end Items/Show */
  /* @group ----- Media/Show ----- */
  /* @see Items – Properties */
  .media #content nav.back {
    margin: -0.75em 1.40845% 1.5em;
  }

  .media-render {
    border: 1px solid lightgrey;
    padding: 1.5em 1.40845%;
    border-radius: 5px;
    margin-bottom: 1.5em;
  }

  /* @end Media/Show */
  /* @group ----- Forms ----- */
  #advanced-search .field .field-meta, #advanced-search .field .inputs {
    width: 100%;
    text-align: left;
    margin-bottom: 1.5em;
  }
  #advanced-search > div:last-child {
    margin-bottom: 1.5em;
  }

  .field.multi-value .value:only-of-type .remove-value {
    display: none;
  }
  .field.multi-value .remove-value {
    background-color: #DDD;
    color: #db6c36;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    width: 36px;
    text-align: center;
  }
  .field.multi-value .remove-value:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    line-height: 36px;
    text-indent: 0;
  }
  .field.multi-value .remove-value:hover {
    color: #db6c36;
  }

  /* @end Forms */
}
@media screen and (min-width: 40em) {
  /* @group ----- Generic HTML elements ----- */
  body {
    padding-bottom: 7.5em;
  }

  /* @end group Generic HTML elements */
  /* @group ----- Global classes ----- */
  div[role=main] {
    -moz-box-shadow: #BBB 0 0 50px;
    -webkit-box-shadow: #BBB 0 0 50px;
    box-shadow: #BBB 0 0 50px;
  }
  div[role=main] > h2:first-of-type {
    text-align: center;
  }

  /* @end group Global classes */
  /* @group ----- Header ----- */
  header {
    text-align: left;
    background-color: #FFF;
    z-index: 2;
    -moz-box-shadow: 0 0 50px rgba(0, 128, 0, 0.18);
    -webkit-box-shadow: 0 0 50px rgba(0, 128, 0, 0.18);
    box-shadow: 0 0 50px rgba(0, 128, 0, 0.18);
    border-top: 5px solid #DB6C36;
    /*.home */
    padding: 0;
  }

  #site-title {
    font-size: 0.875em;
    line-height: 1.71429em;
    float: none;
  }
  #site-title img {
    height: 7.5em;
    width: auto;
  }

  .logo {
    margin: .5em 1em 1em 0;
  }

  #search-form {
    padding: 0;
    width: 30%;
    float: right;
    display: block;
    background-color: transparent;
    margin: 0 1.40845% 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 0;
  }
  #search-form input[type=text] {
    width: 60%;
    margin: 1.125em 0 0;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    line-height: 24px;
    float: none;
    display: inline-block;
  }
  #search-form button[type=submit] {
    width: 36%;
    margin: 1.125em 2.85714% 0 0;
    font-size: 16px;
    line-height: 24px;
    float: none;
    display: inline-block;
  }

  /* @end group Header */
  /* @group ----- Header/Navigation ----- */
  .hamburger, .cross {
    display: none;
  }

  #navigation {
    clear: none;
    display: block;
    background-color: #FFF;
    text-align: left;
    top: 0;
    padding: 0;
  }
  #navigation a {
    border-right: 1px solid #F7F7F7;
    float: left;
    padding: 1.5em;
  }
  #navigation ul {
    padding: 0;
    width: 100%;
    margin: 0;
    overflow: auto;
    border-bottom: 1px solid #F7F7F7;
    display: initial;
  }
  #navigation li {
    margin: 0;
    border-bottom: 0;
    padding: 0;
    float: left;
    width: initial;
  }
  #navigation ul {
    border-bottom-width: 0em;
    border-bottom-style: solid;
    padding-bottom: 0em;
  }
  #navigation li {
    border-top-width: 0em;
    border-top-style: solid;
    padding-top: 0em;
  }
  #navigation a {
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    padding: 1em;
    width: 100%;
    height: 100%;
  }
  #navigation li:last-of-type {
    border-right-width: 0em;
    border-right-style: solid;
    padding-right: 0em;
  }

  /* @end group Header/Navigation */
  /* @group ----- Footer ----- */
  footer {
    padding-top: 3em;
  }

  footer .copy {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
  }

  footer .logos {
    width: 49.29577%;
    float: right;
    margin-right: 0;
  }

  footer img {
    margin: 0 0 1.5em 2.85714%;
  }

  /* @end group Footer */
  /* @group ----- Navigation ----- */
  #content .advanced-search {
    margin-left: 15.49296%;
  }

  .pagination {
    margin-left: 7.04225%;
  }

  /* @end group Navigation */
  /* @group ----- Items – Properties ----- */
  /* Mise en forme des propriétés des items, où qu’ils soient. */
  .property {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
  }

  /* @end group Items – Properties */
  /* @group ----- Browse ----- */
  .resource-list {
    padding-left: 4.34783%;
  }
  .resource-list .resource img {
    margin-right: 2.85714%;
  }

  /* @end group Browse */
  /* @group ----- Items/Show ----- */
  .media-list {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }

  /* @end group Items/Show */
  /* @group ----- Forms ----- */
  #advanced-search .field {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0;
  }
  #advanced-search .field .field-meta {
    width: 28.81356%;
    float: left;
    margin-right: 1.69492%;
    text-align: right;
    padding: 1.5em 1.5em 0 0;
  }
  #advanced-search .field .field-meta .field-description {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
  }
  #advanced-search .field .inputs {
    width: 69.49153%;
    float: right;
    margin-right: 0;
  }
  #advanced-search .field .inputs .value {
    margin-bottom: 1.5em;
  }
  #advanced-search .field.required .field-meta:after {
    content: "*";
  }
  #advanced-search input, #advanced-search button, #advanced-search select {
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 2.25em;
    margin: 0;
    padding: 0.45em 1.40845%;
  }
  #advanced-search .remove-value {
    margin-left: 1.40845%;
    padding: 0.45em 16px;
  }
  #advanced-search #property-queries select.joiner {
    width: 7em;
    padding: 0.15em;
  }
  #advanced-search > div:last-child {
    width: 69.49153%;
    float: right;
    margin-right: 0;
  }

  /* @end group Forms */
}
