/* @group ----- Generic HTML elements ----- */

body {
    padding-bottom: rhythm(5);
}

/* @end group Generic HTML elements */

/* @group ----- Global classes ----- */

div[role=main] { 
    @include box-shadow(#BBB 0 0 50px); 
    
    & > h2:first-of-type {
        text-align: center;
    }
}

/* @end group Global classes */

/* @group ----- Header ----- */

header {
    text-align: left;
    background-color: #FFF;
    z-index: 2;
    @include box-shadow(0 0 50px rgba(0, 128, 0, 0.18));
    border-top: 5px solid #DB6C36;
	
	/*.home */
    padding:0;
}

#site-title {
    @include adjust-font-size-to(14px);
    float: none;

    img {
        height: rhythm(5);
        width: auto;
    }
}

.logo { margin: .5em 1em 1em 0; }

#search-form {
    padding: 0;
    width: 30%;
    float: right;
    display: block;
    background-color: transparent;
    margin: 0 gutter(12) 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 0;
    
    input[type=text] { 
        width: 60%;
        margin: rhythm(.75) 0 0;
        border: 1px solid #e7e7e7;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
    
    button[type=submit] {
        width: 36%;
        margin: rhythm(.75) gutter(6) 0 0;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
}

/* @end group Header */

/* @group ----- Header/Navigation ----- */

.hamburger, .cross {
	display: none;
}

#navigation {
    clear: none;
    display: block;
    background-color: #FFF;
    text-align: left;
    top: 0;
    padding: 0;
    
    a { 
        border-right: 1px solid #F7F7F7;
        float: left;
        padding: rhythm(1);    
    }
    
    ul { 
        padding: 0; 
        width: 100%;
        margin: 0;
        overflow: auto;
        border-bottom: 1px solid #F7F7F7;
		display: initial;
    }
    
    li { 
        margin: 0; 
        border-bottom: 0;
        padding: 0;
        float:left;
		width: initial;
    }
    ul {
        @include trailing-border(0px, 0, $base-font-size, solid);
    }
    
    li { 
        @include leading-border(0px, 0, $base-font-size, solid);
    }
    
    a {
        text-align: left;
        font-size: 1.5 * $base-font-size;
        line-height: $base-line-height;
        padding: 1em;
        width: 100%;
        height: 100%;
    }
    
    li:last-of-type {
        @include apply-side-rhythm-border(right, 0px, 0, $base-font-size, solid);
    }
}

/* @end group Header/Navigation */

/* @group ----- Footer ----- */

footer {
    @include padding-leader(2);
}

footer .copy {
    @include span(6 alpha);
}

footer .logos {
    @include span(6 omega);
}

footer img {
    margin: 0 0 rhythm() gutter(6);
}

/* @end group Footer */

/* @group ----- Navigation ----- */

#content .advanced-search {
	margin-left: span(2);
}

.pagination {
	margin-left: span(1);
}

/* @end group Navigation */

/* @group ----- Items – Properties ----- */
/* Mise en forme des propriétés des items, où qu’ils soient. */

.property {
	@include span(3 of 4);
}

/* @end group Items – Properties */

/* @group ----- Browse ----- */

.resource-list {
	padding-left:gutter(4);
    .resource img {
        margin-right: gutter(6);
    }
}

/* @end group Browse */

/* @group ----- Items/Show ----- */

.media-list {
	@include span(1 of 4 last);
}

/* @end group Items/Show */

/* @group ----- Forms ----- */

#advanced-search {
	.field {
		display: flex;
		flex-wrap: wrap;
		margin: rhythm() 0;

		.field-meta {
			@include span(3 of 10);
			text-align: right;
			padding: rhythm() rhythm() 0 0;
		}

		.field-meta .field-description {
			font-size: .875 * $base-font-size;
			line-height: .75 * $base-line-height;
			font-style: italic;
		}

		.inputs {
			@include span(7 of 10 last);
			
			.value {
				margin-bottom: rhythm();
			}
		}
		&.required .field-meta:after {
			content: "*";
		}
	}

	input, button, select {
		border: 1px solid #e7e7e7;
		border-radius: 0;
		height: rhythm(1.5);
		margin: 0;
		padding: rhythm(0.3) gutter();
	}
	.remove-value {
		margin-left: gutter();
		padding: rhythm(0.3) $base-font-size;
	}
	#property-queries select.joiner {
		width: 7em;
		padding: rhythm(0.1);
	}
	
	&>div:last-child {
		@include span(7 of 10 last);
	}
}

/* @end group Forms */