.search-facets > ul {
	max-width: 250px; //taille de la colonne affichant les facettes
}

/* @group ----Search page------ */

.search-results-count {
	width: 80%;
	.pagination {
		margin-left: auto;
		margin-top: 1em;
	}
}
.search-results h3 {
	clear: both;
}

/* @end group Search page */