body {
	@include container;
	padding-bottom: rhythm(5);
}

div[role=main] { 
	@include box-shadow(#BBB 0 0 50px); 
	width: 100%;
}

#content {
    padding: 0 (2 * gutter()) $spacing-l;
}

table {
    margin: $spacing-l 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: $spacing-s $spacing-m;
    padding-bottom: $spacing-s - 1px;
    border-bottom: 1px solid $gray;
}

/* @group ----- Header ----- */

header {
    position: relative;
    padding: $spacing-m 0 0 0;
    margin-bottom: 2 * $spacing-l;
}

header > * {
    padding: 0 (2 * gutter());
}

.logo { margin: .5em 1em 1em 0; }

#search-form {
    padding: 0;
    width: 30%;
    float: right;
    display: block !important;
    background-color: transparent;
    margin: 0 gutter(12) 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 0;
    
    input[type=text] { 
        width: 60%;
        margin: rhythm(.75) 0;
        border: 1px solid #e7e7e7;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
    
    input[type=submit] {
        width: 36%;
        margin: rhythm(.75) gutter(6) rhythm(.75) 0;
        font-size: $base-font-size;
        line-height: $base-line-height;
        float:none;
        display: inline-block;
    }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: 0 (2 * gutter()) $spacing-l;
}

/* @end */

/* @group ----- Navigation ----- */

#navigation {
    float: right;
    clear: none;
    width: 100%;
    display: block !important;
    background-color: #FFF;
    text-align: left;
    clear: none;
    display: block !important;
    margin: 0 0 rhythm(.5);
    position: absolute;
    top: 0;
    padding: 0;
    left: 0;
    
    a { 
        border-right: 1px solid #F7F7F7;
        float: left;
        padding: rhythm(1);    
    }
    
    ul { 
        padding: 0; 
        width: 100%;
        margin: 0;
        overflow: auto;
        border-bottom: 1px solid #F7F7F7;
    }
    
    li { 
        margin: 0; 
        border-bottom: 0;
        padding: 0;
        float:left;
    }
}

.home header nav {
    position: relative;

    ul {
        @include trailing-border(0px, 0, $base-font-size, solid);
    }
    
    li { 
        width: percentage(1/2);
        height: rhythm(9);
        @include leading-border(0px, 0, $base-font-size, solid);
        
        &:after { 
            height: rhythm(9); 
        }
    }
    
    a {
        text-align: left;
        font-size: 1.5 * $base-font-size;
        line-height: $base-line-height;
        border: 0;
        padding: 1em;
        width: 100%;
        height: 100%;
    }
    
    li:last-of-type {
        @include apply-side-rhythm-border(right, 0px, 0, $base-font-size, solid);
    }
}

/*header nav {
    margin: $spacing-m auto 0;
    position: static;
    padding: 0 (2 * gutter());
}

header nav:before {
    content: "";
    border: 0;
}

header nav ul a {
    padding: 0;
}

header nav ul li {
    position: static;
}

header nav.closed ul,
header nav ul ul li {
    height: auto;
    overflow: visible;
}

header nav ul a:hover {
    background-color: transparent;
}

header nav ul li,
header nav > ul li:last-child,
header nav > ul ul:hover > li {
    border: 0;
}

header nav ul.navigation {
    margin-left: -$spacing-s;
    position: static;

    li ul:before {
        display: none;
    }

    & > li {
        display: inline-block;
    }

    & > li:not(:last-child) {
        margin-right: $spacing-m;
    }

    & > li > ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        width: 100%;
        border: solid $gray;
        border-width: 1px 0;
        padding: ($spacing-m - 1px) 0 ($spacing-s - 1px);
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        z-index: 1;
    }

    & > li:hover > ul {
        @include container;
        padding: $spacing-m (2 * gutter());
        left: 0;
        right: 0;
        border-bottom: 0;
        border-color: $light;

        &:after {
            content: "";
            left: -9999px;
            right: -9999px;
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            border-bottom: 1px solid $light;
            z-index: -1;
        }
    }

    & > li > ul > li {
        width: 25%;
        font-size: .75 * $base-font-size;
        font-weight: bold;
        padding-bottom: $spacing-l;
    }

    & > li > ul > li ul {
        font-weight: normal;
        padding: 0;
        list-style-type: none;
        height: auto;
    }
}

header nav > ul > li > a {
    margin: $spacing-s;
    height: $base-line-height;
}

 All top-level nav items with siblings are parent items and get an arrow. 
header nav > ul > li > a:not(:only-child):after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    margin-left: $spacing-s;
}

header nav > ul li:hover ul li {
    height: auto;
    padding: 0;
}

 Second and Third level items 
header nav > ul > li > ul > li a,
header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
}

.sub-menu ul {
    border-bottom: 1px solid $light;
    padding-bottom: ($spacing-m - 1px);
}

.sub-menu li {
    display: inline-block;
    border: 0;
    padding: 0;
    margin-right: $spacing-m;

    &:first-of-type {
        border: 0;
        padding: 0;
    }
}*/

/*#search {
    left: 75%;
    border-left: 1px solid $light;
    padding: $spacing-s;
}

#search form input[type="text"],
#search form button[type="submit"] {
    height: $base-line-height;
    font-size: .75 * $base-font-size;
    line-height: $base-line-height;
}

#search form button[type="submit"] {
    width: $base-line-height;
    height: $base-line-height;
    padding: 0;

    &:before {
        line-height: $base-line-height;
    }
}*/

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list .resource img {
    width: 4 * $spacing-l;
    height: auto;
    float: right;
    margin-left: $spacing-m;
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * $spacing-l});
}

/* @end */

/* @group ----- Item Set ----- */

body.item-set .metadata {
    @include span(4 of 12 alpha);
    border-left: 5px solid $light;
    padding-left: gutter();
    clear: left;
}

body.item-set .metadata h4:first-of-type {
    margin-top: 0;
}

body.item-set .metadata ~ * {
    @include span(8 of 12 omega);
    border-left: 1px solid $light;
    padding-left: gutter();
}

body.item-set .metadata ~ h3,
body.item-set .metadata ~ .resource-list {
    margin: 0;
    padding-bottom: $spacing-l;
}

body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
}

/* @end */

/* @group ----- Page and blocks ----- */

.preview-block {
    clear: both;
}

ul.preview.resource-list li:first-of-type {
    border-top: 1px solid $light;
    padding-top: ($spacing-l - 1px);
}

/* @end */